@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-mono: "Space Grotesk", monospace;
}

:root {
  --radius: 0px;
  --background: #000000;
  --foreground: #00FF41;
  --card: #0a0a0a;
  --card-foreground: #00FF41;
  --popover: #0a0a0a;
  --popover-foreground: #00FF41;
  --primary: #00FF41;
  --primary-foreground: #000000;
  --secondary: #003300;
  --secondary-foreground: #00FF41;
  --muted: #050505;
  --muted-foreground: #008F11;
  --accent: #00FF41;
  --accent-foreground: #000000;
  --destructive: #FF0000;
  --destructive-foreground: #FFFFFF;
  --border: #00FF41;
  --input: #00FF41;
  --ring: #00FF41;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-mono antialiased uppercase tracking-wider;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-black tracking-tighter;
  }
}

.terminal-box {
  @apply border-2 border-primary p-4 bg-card shadow-[0_0_15px_rgba(0,255,65,0.2)];
}

.scanline {
  width: 100%;
  height: 100px;
  z-index: 10;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 255, 65, 0.05) 50%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.1;
  position: absolute;
  bottom: 100%;
  animation: scanline 10s linear infinite;
}

@keyframes scanline {
  0% { bottom: 100%; }
  100% { bottom: -100px; }
}
